*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
 /* Barra de navegación del encabezado fijo. */
.container{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0rem;
    position: fixed;
    text-align: center;
    background-color: rgba(250, 243, 232, 0.301);
}

.logo{
    width: 15%;
}

.menu > ul > li{
    display: inline-block;
    text-align: center;
    margin: 14px;
    font-family: sans-serif;

}

.ref, .menu > ul > li > a{
    text-decoration: none;
    color:  #025157;
    ;

}

.menu{
    width: 60%;
    text-align: center;
}

.actions{
    width: 20%;
}

.actions > button:hover{
    background-color: aqua;
}

.button-head{
    font-family: sans-serif;
    font-weight: 550;
    color: white;
    background-color:  #025157;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
}

/* Diseñando el main*/
.container-main{
    margin-top: 150px;
    display: flex;
    width: 98%;
    margin-left: 1%;
}

.items-main{
    width: 49%;
}

.h2-main{
    font-size: 70px;
    font-family: Segoe UI;
    letter-spacing: -3px;
    color: #025157;
    font-weight: 900 !important;
}
.p-main{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    margin-top: 30px;
    color: #46484c;
    font-size: large;
}

.acciones-main{
    margin-top: 30px;
}

.button-main{
    font-family: sans-serif;
    font-weight: 550;
    color: white;
    background-color: rgb(114, 185, 55);
    border-radius: 5px;
    padding: 10px;
}
.p-main-div{
    color: rgba(139,139,139,.8);
    font-size: small;
}

/* Imagen interactiva*/
.container-interactiva-flex{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 150px;
}

.container-interactiva-flex > header, 
.container-interactiva-flex > article{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.container-interactiva-flex > header > h3{
    color: #025157;
    font-size: 55px;

}

.container-interactiva-flex > article > button{
    background-color: #025157;
    font-weight: 500;
    padding: 15px;
    color: aliceblue;
    border-radius: 15px;
}

.container-interactiva-flex > article > button:hover{
    background-color: aqua;
}

.container-interactiva-grid{
    padding: 0;
    background-image: url("/fondo_intera.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}
.container-interactiva-grid > article > div > .img{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    padding: 15px;

}
.item-interactiva1{
    width: 90%;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #025157;
    color: rgb(255, 238, 238);
    font-size: small;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.item-interactiva1 > p{
    padding-left: 30px;
    padding-right: 30px;
}
.item-interactiva2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column:  1 / 3;
    grid-row: 1 / 2;
    padding-left: 50px;
}
.item-interactiva3{
    display: flex;
    justify-content: space-between;
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}
.item-interactiva4{
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
}
.item-interactiva5{
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding-left: 50px;
}
.item-interactiva6{
    display: flex;
    justify-content: space-between;
    grid-column: 4 / 6;
    grid-row: 5 / 6;
}

.items-inte-1{
    width: 70%;
}
.items-inte-2{
    width: 20%;   
}

.items-inte-1 > h4{
    color: #025157;
}
.items-inte-1 > p{
    color: #46484c;
}
